# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Output files
*.log
*.diff
*.tmp
*.sh

# Project files
JREPL.BAT
script.bat

# IntelliJ
out
.idea
*.iml

# vanilla-diff files
*.log
*.diff
JREPL.bat