:root {
  --monospace:"Lucida Console",Consolas,"Courier",monospace;
  --color-azure: #0094ff;
}

/* Default content for modifier text,
 * overridden by percentage based modifiers
 */
.modifier .text:after {
  content: attr(value);
}

#adm_power.icon:before {
  content: url(../icon/monarch_admin_power.png);
}
#impossible.icon:before {
  content: url(../icon/ai_decline_icon.png);
}
#build_cost.modifier .icon:before {
  content: url(../icon/local_build_cost.png);
}
#envoy_travel_time.modifier .icon:before {
  content: url(../icon/envoy_travel_time.png);
}
#global_autonomy.modifier .icon:before {
  content: url(../icon/global_autonomy.png);
}
#colonial_range.modifier .icon:before {
  content: url(../icon/colonial_range.png);
}
#stability_cost.modifier .icon:before {
  content: url(../icon/stability_cost_modifier.png);
}

#build_cost .tooltip:hover:before {
  content: 'Construction cost';
}
#envoy_travel_time .tooltip:hover:before {
  content: 'Envoy travel time';
}
#global_autonomy .tooltip:hover:before {
  content: 'Monthly autonomy change';
}
#colonial_range .tooltip:hover:before {
  content: 'Colonial range';
}
#stability_cost .tooltip:hover:before {
  content: 'Stability cost modifier';
}
