.flex-row {
  display: flex;
  flex-flow: row;
}
.flex-column {
  display: flex;
  flex-flow: column;
}

}
}

.flex-row[align="center"],
.flex-column[align="center"] {
  justify-content: center;
  align-items: center;
}
.flex-row[type="single-line"] {
  align-items: baseline;
  justify-content: space-evenly;
}

[font="larger"] {
  font-size: 1.15em;
}
[font="smaller"] {
  font-size: 0.85em;
}

.icon:before {
  display: inline-flex;
  vertical-align: middle;
}

.modifier {
  display: inline-flex;
  align-items: center;
  padding: 0px 5px;
}
.modifier .text {
  margin-left: 7px;
  font-weight: bold;
}
