:root {
  --tooltip-hover: 33px;		  /* hover area size */
  --tooltip-scale: 0.8;
  --tooltip-distance: 170%;		  /* distance from hover area */
  --tooltip-arrow-size: 6px;
  --tooltip-arrow-scale: 1.5;
  --tooltip-arrow-align: 15px;
  --tooltip-bg-color: #737373;
  --tooltip-font-color: #e6e6e6;
}

.tooltip {
  position: absolute; z-index : 1;
  height: var(--tooltip-hover);
  width: var(--tooltip-hover);
}

.tooltip:hover {
  transform: scale(var(--tooltip-scale));
}
/* Inline tooltips need to be manually adjusted */
.tooltip[type="inline"]:hover:before {
  top: calc(var(--tooltip-distance) + 8px);
}

/* Tooltip label */
.tooltip:hover:before {
  background: var(--tooltip-bg-color);
  color: var(--tooltip-font-color);
  border-radius: 4px;
  padding: 1px 5px;
  position: relative;
  white-space: nowrap;
  top: calc(var(--tooltip-distance) + 10px);
}

/* Arrow decorator */
.tooltip:hover:after {
  background: var(--tooltip-bg-color);
  content: '';
  position: absolute;
  white-space: nowrap;
  width: var(--tooltip-arrow-size);
  height: var(--tooltip-arrow-size);
  transform: scale(var(--tooltip-arrow-scale)) rotate(45deg);
  left: var(--tooltip-arrow-align);
  top: 60px;
}
