html {
  text-align: justify;
}

table {
  border-collapse: collapse;
}

table tr td {
  padding: 15px 13px;
}

table li {
  font-size: 0.85em;
  padding: 5px 0px;
}

table ul {
  padding-left: 15px;
  text-align: left;
}

code {
  background-color: #f8f8f8;
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
}

[border="blue"][ {
  border:2px solid var(--color-azure);
}
