html {
  text-align: justify;
}

table {
  border-collapse: collapse;
  /* border-spacing: 0px; */
}
table tr td {
  padding: 6px 15px;
}

td.centered {
  vertical-align: center;
  text-align: center;
}

td.trait .name {
  display: block;
  line-height: 35px;
  margin-bottom: 3px;
  border-bottom: 1px solid #eee;
}

td.trait .description {
  display: block;
  /* padding-top: 2px; */
  /* text-align: justify; */
  line-height: 25px;
  font-size: 12px;
}

table li {
  font-size: 0.85em;
  padding-top: 5px;
  padding-bottom: 5px;
}

table ul {
  padding-left: 15px;
  text-align: left;
}

code {
  background-color: rgba(27,31,35,.06);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
}

.test {
  -moz-border-radius-topright:5px;
  -moz-border-radius-topleft:5px;
  border:2px solid #0094ff;
}